*{
    font-family: 'Alkatra', cursive;
    font-family: 'IBM Plex Sans KR', sans-serif;
    /* font-family: 'Gowun Dodum', sans-serif; */
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    width: 100vw;
    font-size: 0.9rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}
section{
    padding: 0 20px;
}
a { text-decoration: none; color: black; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

/* 최상단바 영역 */
#main_title{
    color: #545454;
    background-color: #ffeeee;
    height: 18vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Nanum Myeongjo', serif;
}
.search{
    font-size: 1.5em;
}
.site_name a{
    font-size: 5rem;
    font-weight: bolder;
    background-image: linear-gradient(to right, #F36265, #961276);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Nanum Myeongjo', serif;
    letter-spacing: -5px;
}
.ma{
    margin: 0 30px;
}
.slogan{
    width: 18%;
    margin: 0;
    font-size: 0.8em;
    text-align: justify;
    /* text-shadow: -1px 0 #545454, 0 1px #545454, 1px 0 #545454, 0 -1px #545454; */
    line-height: 150px;
    height: 150px;
    &:after {
        content: "";
        display: inline-block;
        width: 100%;
    }
}
.log_in a, .my_page a{
    color: #545454;
}
.my_page{
    font-size: 2em;
}

/* nav바 영역 */
#main_nav{
    height: 7vh;
    border-top: 3px solid rgb(255, 255, 255);
    border-bottom: 3px solid rgb(255, 255, 255);
    background-color: rgb(249, 217, 217);
    color: rgb(71, 71, 71);
}
#main_nav ul{
    height: 100%;
    display: flex;
    margin: 0;
    padding: 0;
}
#main_nav li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
}
#main_nav li > a{
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #474747;
}
#main_nav li:hover{
    background-color: #ff9494;
    color: #5e2e2e;
    font-weight: 600;
}

/* 타이틀 영역 */
#title{
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    text-shadow: 1px 1px 3px #999999;
}
#title img{
    width: 200px;
}

/* company nav 영역 */
#companyinfo_nav{
    height: 5vh;
    border-top: 3px solid #999999;
    border-bottom: 3px solid #999999;
    background-color: #ffffff;
    color: #474747;
}
#companyinfo_nav ul{
    height: 100%;
    display: flex;
    margin: 0;
    padding: 0;
}
#companyinfo_nav li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    height: 100%;
}
#companyinfo_nav li > a{
    text-decoration: none;
    color: #474747;
}
#companyinfo_nav li:hover{
    background-color: #d2d2d2;
    /* color: white; */
}
.this_page{
    background-color: #f4f4f4;
}

/* 컨텐츠 영역 */
#company_contents{
    text-align: center;
}
#company_contents p{
    margin: 50px 0;
}
#company_contents img{
    width: 100%;
}

/* footer 영역 */
footer{
    background-color: rgb(98, 96, 96);
    color: white;
    /* display: block; */
    /* position: fixed;
    left: 0;
    bottom: 0; */
    width: 100%;
    text-align: center;
    font-weight: 100;
}